[Unit]
Description=My Web Server
After=network.target

[Service]
ExecStart=/usr/local/sbin/start_myweb.sh
ExecStop=/usr/local/sbin/stop_myweb.sh
Restart=always

[Install]
WantedBy=multi-user.target
